{% extends 'base.html.twig' %}

{% block title %}New PaymentCategory{% endblock %}

{% block body %}
    <h1>Create new PaymentCategory</h1>

    {{ include('payment_category/_form.html.twig') }}

    <a href="{{ path('payment_category_index') }}">back to list</a>
{% endblock %}
